<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="22.7.0" targetFramework="net472" />
  <package id="BitMiracle.Docotic.Pdf" version="8.8.14015" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="iTextSharp" version="5.2.0" targetFramework="net472" />
</packages>